/.idea
/*.iml
/_site
/Gemfile.lock
package-lock.json

/node_modules/*
!/node_modules/bootstrap-confirmation2
/node_modules/bootstrap-confirmation2/*
!/node_modules/bootstrap-confirmation2/bootstrap-confirmation.min.js
